/*white smoke #f4f4f9*/
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Karla:regular,italic,700,700italic);

@import url(https://fonts.googleapis.com/css?family=Nunito:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

$primary-blue: #00D8FF;
$primary-black: #242424;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    overflow-x: hidden;
    margin-top: 71px;
    scroll-behavior: smooth;
}

h1,h2,h3, h4{
    font-family: 'nunito' ;
    font-weight: 500;
}

body {
    font-family: 'Montserrat';
    position: relative;
    background: #ffffff;
    width: 100% !important;
    height: 100%;
    margin: 0px;
    padding: 0;
    overflow-x: hidden;
}



#social-bar {
    justify-content: center;
    width: auto;
    border-radius: 36px;
}

.icon-top {
    background: $primary-blue;
    display: flex;
    justify-content: space-around;
}

.icon-top a {
    color: #f1fffa;
    font-size: 25px;
    transition: color 1s ease;

}

.icon-top a:hover {
    color: $primary-black;

}

/*#########navbar##############*/

.navbar {
    background: $primary-black !important;
    padding: 10px 20px !important;
    transition: padding 2s ease;
}

.navbar-background {
    padding: 2px 20px !important
}


.banner-text {
    font-size: 3.2rem;
    text-shadow: #0000006b 3px 3px 3px;
    font-family: 'Poppins';
    font-weight: 200;

}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-brand {
    color: $primary-blue;
    border: 3px solid$primary-blue;
    font-size: 30px;
    transition: all 2s;
    font-family: 'Karla';
}

.navbar-brand:hover {
    background: $primary-blue;
    color: $primary-black;
}

.navbar-toggler {
    border: 3px solid$primary-blue;
    padding: 3px;

}

.bar1,
.bar2,
.bar3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    background: $primary-blue;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}




.nav-link {
    color: #f1fffa;
    font-size: 20px;
    padding: 10px 20px !important;
    border-radius: 5px;
    transition: background 2s ease;
}

.nav-link:hover {
    background: $primary-blue;
    color: #f1fffa;

}

.nav-active {
    color: #f1fffa;
    font-size: 20px;
    padding: 10px 20px !important;
    border-radius: 5px;
    background: #00d9ff2a;
    transition: background 2s ease;
}

.nav-active:hover {
    background: $primary-blue;
}

.search-btn {
    background: $primary-blue;
    transition: all 1s ease;
}

.search-btn:hover {
    color: $primary-blue;
    background: #191919;
}

/*#################banner##############*/

.item-1,
.item-2,
.item-3 {
min-height: 60vh;
    height: 60vh;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 95%);
    transition: ease-in-out 700ms;
}


.item-1 {

    background: linear-gradient(to left, #000000d3, #00d9ff9c), url('/img/CODER.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-2 {
    background: linear-gradient(to left, #000000d3, #00d9ff9a), url('/img/Ui Designers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.item-3 {
    background: linear-gradient(to left, #000000d3, #00d9ff98), url('/img/Artists.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-padding {
    padding: 0;
}

.banner-btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    transition: all 1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

}

.banner-btn:hover {
    color: $primary-blue;
    background: #ffffff;
    border-color: #ffffff;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);

}

/*###################title#########*/

.title {
    color: #111111;
}



.title-underline {
    height: 5px;
    width: 250px;
    background: $primary-blue;
    margin: -28px auto 0 auto;
}

.title a {
    color: $primary-blue;
    font-size: 30px;
    padding: 0px 10px;
    display: inline-block;
    background: #ffffff;

}

/*###########skills##################*/


#html-wrap {
    background-color: #DC4D25;
}

#css-wrap {
    background-color: #0F91D1;
}

#js-wrap {
    background-color:  #FFDD23;
}

#php-wrap {
    background-color:  #7377AD;
}

#html-wrap:hover, #css-wrap:hover,#js-wrap:hover,#php-wrap:hover {
    background-color: $primary-black;
}


.skills-icon {
    background: $primary-black;
    clip-path: polygon(0px 0px, 17.57% 195px, 100% 100%, 0px 100%);
    transition: all 1s ease;
    width: 100%;
    height: 250px;

}

.skills-icon:hover, .skills-icon:active {
    background: $primary-black;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    transition: all 1s ease;
    width: 100%;
    height: 250px;
}



.skills-icon span {
    font-size: 100px;
    color: #909090;
    transition: all 1s ease-in-out;
    transform: translateX(30%);
}

.skills-icon:hover #html5 {
    font-size: 100px;
    color: #DC4D25;
    transition: all 0.6s ease-in-out;
  
}


.skills-icon:hover #css3 {
    font-size: 100px;
    color: #0F91D1;
    transition: all 0.6s ease-in-out;
}

.skills-icon:hover #php {
    font-size: 100px;
    color: #7377AD;
    transition: all 0.6s ease-in-out;
}

.skills-icon:hover #ps {
    font-size: 100px;
    color: #00D8FF;
    transition: all 0.6s ease-in-out;
}


.skills-icon:hover #javascript {
    font-size: 100px;
    color: #FFDD23;
    transition: all 0.6s ease-in-out;
}

.skills-icon:hover #react {
    font-size: 100px;
    color: $primary-blue;
    transition: all 0.6s ease-in-out;
}

.text-muted {
    font-size: 1.1rem !important;
}

/*###########about############*/

#about .title a {
    background: black;
    border: 1px solid $primary-blue;
}

#about .about-headings {
    color: white !important;
}

#about,
about-text h2 {
    color: #ffffff;
}

.wrap {
    background-color: $primary-black;
    min-height: 40vh;
}

#about {
    min-height: 40vh;
    background: $primary-black;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);

}

.about-text a {
    color: #ffffff;
    background: $primary-blue;
    border: 2px solid$primary-blue;
    transition: all 1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.about-text a:hover {
    color: $primary-blue;
    background: #f1fffa;
    border-color: #f1fffa;
    transform: translateY(-7px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);

}

.about-progress {
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.397)), url(img/hackernoon.jpg)center/cover fixed no-repeat;
    outline: 5px solid$primary-blue;
    outline-offset: 10px;
}




.progress-bar {
    background: $primary-blue;

}

/*##############video-filler###############*/



#modal-filler {
    height: 50vh;
 
    background: linear-gradient(#00d9ff8e, $primary-black), url(img/Hacker.jpg)center/cover fixed no-repeat;
}


//Disabled the video anchor tag
#modal-filler a {
    display: none;
    color: $primary-black;
    font-size: 80px;
    animation: myAnimation 3s ease infinite;
}

@keyframes myAnimation {
    50% {
        transform: scale(1.5);
        color: #f1fffa;

    }
}

/*#############projects##########*/

#projects button {
    background: $primary-blue;
    color: #f1fffa;
    transition: all 1s ease-in-out;
}

#projects button:hover {
    background: $primary-black;
}

.img-container {
    position: relative;
    overflow: hidden;
    background: linear-gradient(#00d9ffa1, rgba(0, 0, 0, 0.507));
}

.img-container img {
    transition: all 2s ease-in-out;
    opacity: 1;
}

.img-container:hover .project-image {
    opacity: 0.3;
    transform: scale(1.3);
}

.search-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    color: $primary-black;
    transition: margin 2s ease-in-out, color 0.5s ease-in-out, opacity 0.75s ease-in-out;
    margin-top: -50%;
    opacity: 0;
}

.search-link:hover {
    color: $primary-blue;
}

.img-container:hover .search-link {
    margin-top: 0;
    opacity: 1;

}

/*current project*/

#current-project {
    background: $primary-black;

    transition: all 1s ease-in-out;

    .current-project-photo {
        position: relative;
        min-height: 50vh;
        transition: all 1s ease-in-out;
    }

    .current-project {
        width: 50%;
        height: 60%;
        position: absolute;
        transition: all 1s ease-in-out;
    }

    .current-project:hover {
        z-index: 10;
        transform: scale(1.1);
        transition: all 1s ease-in-out;
    }

    .current-project-1 {
        top: 0;
        left: 10%;
        transform: rotate(-15deg);
        z-index: 20;
    }



    .current-project-2 {
        top: 0;
        left: 46%;
        transform: rotate(8deg);
        z-index: 30;
    }

    .current-project-3 {
        top: 40%;
        left: 3%;
        transform: rotate(-5deg);
    }

    .current-project-4 {
        top: 41%;
        left: 40%;
        transform: rotate(38deg);
    }

    .current-project:hover {
        transform: scale(1.1);
        z-index: 50;
    }

}

/*posts*/

#posts .card {
    background: transparent !important;
    border: none;
    position: relative;


    #posts .card-img-top {
        border-radius: 0 !important;
    }

    #posts .card-footer {
        background: transparent;

    }

    .post-link {
        color: $primary-blue;
        transition: all 1s ease-in-out;
    }

    .post-link:hover {
        color: #dd0000;
        text-decoration: none;

    }
}


.corner-text {
    position: absolute;
    top: 0;
    right: 0;
    background: #dd0000;
    opacity: 0;
    transition: all 1s ease-in-out;
}

#posts .card:hover .corner-text {
    opacity: 1;
}

/*contact-form*/

#contact-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner-2.jpeg)center/cover fixed no-repeat;
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);

    .height-30 {
        min-height: 30vh;
    }

    #contact-form h1 {
        color: $primary-blue;
    }

    #contact-form .form-control {
        background: transparent;
        border: none;
        border-bottom: 2px solid #f1fffa;
        border-radius: 0;
        color: #f1fffa;
    }

    .form-control::placeholder {
        text-transform: capitalize;
        font-size: 20px;
        color: #f1fffa;
    }


    #contact-form button {
        background: transparent;
        border: 2px solid #f1fffa;
        color: #f1fffa;
        border-radius: 0;
        transition: all 2s ease;
    }

    #contact-form button:hover {
        background: #f1fffa;
        border-color: $primary-blue;
        color: $primary-blue;
    }

}


/*############values##############*/

#values {
    background-color: $primary-black;
}

.value {
    position: relative;

    .value-icon {
        font-size: 4rem;
        color: #f1fffa;
        background: transparent;
        padding: 20px 20px 20px 20px;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        transition: all 1s ease-in-out;

    }

    // .value-number {
    //     padding: 15px;
    //     background: $primary-blue;
    //     position: absolute;
    //     border-radius: 50%;
    //     display: inline-block;
    //     font-size: 20px;
    //     top: -12%;
    //     left: 57%;
    //     transition: all 2s ease;
    //     color: $primary-black;
    // }

}


.value:hover .value-icon {
    color: $primary-blue;
    transform: scale(1.5);
}



/*###########reviews#########*/

#reviews {
    background: linear-gradient($primary-black), url('/img/Artists.jpg');
    color: #f1fffa;
background-attachment: fixed;
background-position: center;
background-size: cover;

    .customer-text h3 {
        color: $primary-black;
    }

    .customer-text h4 {
        color: #5a5a5a;
    }

    .customer-text p {
        line-height: 1.5
    }

    .customer-text span {
        font-size: 40px;
        color: #cbcb00;
    }

    .ratings {
        color: #cbcb00;
    }
}


/*#########team###############*/

#team {
    margin: 0;
    padding: 0;
}

.member-container {
    position: relative;
    overflow: hidden;
    background: $primary-blue;
}

.team-image {
    transition: all 2s ease-in-out;
}

.member-container:hover .team-image {
    transform: translateY(-72px);
    opacity: 0.5
}

.team-icons a {
    color: #f1fffa;
    font-size: 25px;
    transition: color 1s ease;

}

.team-icons a:hover {
    color: $primary-black;

}

.member-info {
    transition: all 2s ease-in-out;
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: $primary-blue;
    color: $primary-black;
    transition: all 2s ease-in-out;
    margin-bottom: -140px;
}

.member-container:hover .member-info {
    margin-bottom: 0;
}

.member-icon a {
    font-size: 4rem;
    color: #f1fffa;
    transition: all 2s ease;
}

.member-icon a:hover {
    text-decoration: none;
    color: $primary-black;
}



.number {
    background: $primary-blue;
    color: $primary-black;
    transition: all 2s ease;
}

.number:hover {
    background: $primary-black;
    color: $primary-blue;
}


#numbers {
    font-size: 0.7rem;
    padding: 0;
}

#contact {
    background: linear-gradient(rgba(0, 0, 0, 0.178), rgba(0, 255, 255, 0.253) ) , url(img/banner-1.jpeg)center/cover fixed no-repeat;

    .height-60 {
        min-height: 50vh;
    }

    #contact .card {
        background: rgba(0, 0, 0, 0.5);
        transition: all 2s ease;
    }

    #contact .card-body #contact .card:hover {
        background: rgba(0, 0, 0, 0.8);
    }

    #contact .card-header {
        color: $primary-blue;
    }

    #contact .input-group-text {
        background: $primary-blue;
        border-color: $primary-blue;
        color: white
    }

    #contact .card input {
        color: #606060;
    }

    #contact .card input::placeholder {
        color: #606060;
    }


}

.contact-btn {
    color: #ffffff;
    background: $primary-blue;
    transition: all 2s ease-in-out;
}

.contact-btn:hover {
    background: transparent;
    border-color: $primary-blue;
    color: $primary-blue;
}



footer {
    background: $primary-black;

    .footer-icons a {
        color: $primary-blue;
        font-size: 25px;
        transition: color 1s ease;

    }

    .footer-icons a:hover {
        color: #f1fffa;
    }

    footer h5 {
        color: #f1fffa;
    }

}





@media screen and (max-width: 1120px)  {
    
    #html-wrap, #css-wrap,#js-wrap,#php-wrap {
        background-color: $primary-black;
    }

    #modal-filler {
        height: 40vh;
     
        background: linear-gradient(#00d9ff8e, black), url(img/Hacker.jpg)center/cover fixed no-repeat;
    }

    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
    }

    .value .value-icon {
        color: $primary-blue;
        transform: scale(1.2);
    }

    #contact-form {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner-2.jpeg)center/contain fixed no-repeat;
        clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);

    }


    .skills-icon #html5 {
        font-size: 100px;
        color: #DC4D25;
        transition: all 0.6s ease-in-out;
    }


    .skills-icon #css3 {
        font-size: 100px;
        color: #0F91D1;
        transition: all 0.6s ease-in-out;
    }

    .skills-icon #php {
        font-size: 100px;
        color: #7377AD;
        transition: all 0.6s ease-in-out;
    }



    .skills-icon #javascript {
        font-size: 100px;
        color: #FFDD23;
        transition: all 0.6s ease-in-out;
    }

    .skills-icon #react {
        font-size: 100px;
        color: $primary-blue;
        transition: all 0.6s ease-in-out;
    }



    .skills {
        padding: inherit;
        padding-right: 2rem;
    }

    .skills-icon span {
        font-size: 100px;
        color: #909090;
        transition: all 1s ease-in-out;
        transform: translateX(10%);
    }

    .text-muted {
        font-size: 1rem !important;
    }

.skills-icon {
    background: $primary-black;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    transition: all 1s ease;
    width: 100%;
    height: 250px;
    
}

.skills-icon span {
    position: relative;
    left: 40%;
    transform: translateX(-60%);
    padding-left: 10px;
}

.skills-icon #php {
    font-size: 100px;
    color: #7377AD;
    transition: all 0.6s ease-in-out;
}


}


@media screen and (max-width: 470px) {

   
    #modal-filler {
        height: 40vh;
     
        background: linear-gradient(#00d9ff8e, $primary-black), url(img/Hacker.jpg)center/cover fixed no-repeat;
    }
    .navbar-brand {
        margin-right: auto;
        margin-left: auto;
    }

    .value .value-icon {
        color: $primary-blue;
        transform: scale(1.2);
    }

    #contact-form {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner-2.jpeg)center/cover fixed no-repeat;
        clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);

    }


    .skills-icon #html5 {
        font-size: 100px;
        color: #DC4D25;
        transition: all 0.6s ease-in-out;
    }


    .skills-icon #css3 {
        font-size: 100px;
        color: #0F91D1;
        transition: all 0.6s ease-in-out;
    }

    .skills-icon #php {
        font-size: 100px;
        color: #7377AD;
        transition: all 0.6s ease-in-out;
    }



    .skills-icon #javascript {
        font-size: 100px;
        color: #FFDD23;
        transition: all 0.6s ease-in-out;
    }

    .skills-icon #react {
        font-size: 100px;
        color: $primary-blue;
        transition: all 0.6s ease-in-out;
    }



    .skills {
        padding: inherit;
        padding-right: 2rem;
    }

    .skills-icon span {
        font-size: 100px;
        color: #909090;
        transition: all 1s ease-in-out;
     
    }

    .text-muted {
        font-size: 0.8rem !important;
    }

.skills-icon {
    background: $primary-black;
    clip-path: polygon(0 0, 50% 0, 100% 100%, 0 100%);
    transition: all 1s ease;
    width: 100%;
    height: 250px;
}


.skills-icon #php {
    font-size: 80px;
    color: #7377AD;
    transition: all 0.6s ease-in-out;
}


}