@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Courgette&family=Epilogue:wght@300;400&family=Nunito:wght@300;600;700&display=swap');
body {
    background-color: white;
    height: 100%;
}

* {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar-brand {
    color: white;
    font-size: 30px;
    font-family: serif;
    letter-spacing: 0.5px;
}

.nav-item,
.nav-link {
    color: white;
    font-size: 20px;
    font-family: nunito;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: azure;
    border: 1px solid azure;
    border-radius: .25rem;
}

.navbar-brand:hover,
.nav-item:hover,
.nav-link:hover {
    color: rgba(255, 255, 255, 0.541);
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.jumbotron-heading {
    font-family: Nunito;
    color: black;
    text-shadow: black;
    text-decoration: double;
}

.card-title {
    font-family: nunito;
    font-size: 15px;
    font-weight: bold;
}

.card-text {
    font-size: small;
}

.btn-lg,
.btn-lg:hover {
    text-decoration: none;
    color: white;
}


/* Navbar and Carousel*/

.carousel-caption {
    color: rgb(255, 255, 255);
    font-family: 'roboto slab';
    font-size: 30px;
}

.foot {
    height: 1000px;
}

.carousel-item {
    height: 60vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainNavbar {
    padding-left: 50px;
    padding-top: 20px;
}

.black {
    background-color: rgb(0, 0, 0);
    transition: ease;
}

.black2 {
    background-color: rgba(0, 0, 0, 0.267);
    transition: ease;
}

.navbar-dark .navbar-brand {
    font-family: 'Source Serif Pro', serif;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #080d15d2;
    opacity: .7;
}

.display-4 {
    font-size: 50px;
    font-weight: 20px;
    font-family: Epilogue;
}

.display-5 {
    font-family: 'nunito';
    text-shadow: black;
    font-size: '25px';
}

.lead {
    font-family: 'Source Serif Pro', serif;
}

.navbar.scrolled {
    background: rgb(34, 31, 31);
    transition: ease-in-out 500mx;
}

.font-weight-light {
    font-family: 'Source Serif Pro', serif;
}


/* Footer */

.social-list {
    display: inline-flex;
}

.social-list li {
    list-style: none;
    margin-right: 10px;
}

ul {
    padding: 0;
}

.maincard {
    position: relative;
    width: 120px;
    height: 80px
}

.thecard {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease
}

.thecard:hover {
    transform: rotateY(180deg)
}

.thefront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hidden;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 4px
}

.theback {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transform: rotateY(180deg);
    border: 1px solid #eee;
    box-shadow: 5px 6px 6px 2px #e9ecef;
    padding: 4px
}

.social-text small {
    font-size: 20px
}

@media (max-width:600px) {
    .social-list {
        display: inline-flex
    }
}

.bg-black {
    background-color: rgb(7, 7, 7);
    width: 100%;
    height: 55px;
}